Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.vs/S05_Testing/v15/Solution.VC.db-shm
.vs/S05_Testing/v15/Solution.VC.db-wal
.vs/S05_Testing/v15/ipch/AutoPCH/S05_TESTING-748c15d4/S05_TESTING-72a262c/S05_TESTING.ipch
.vs/S05_Testing/v15/ipch/AutoPCH/S05_TESTING-748c15d4/PATROLLINGGUARD-34541ba6/PATROLLINGGUARD.ipch
.vs/S05_Testing/v15/ipch/AutoPCH/S05_TESTING-748c15d4/CHOOSENEXTWAYPOINT-3b5f7972/CHOOSENEXTWAYPOINT.ipch
.vs/S05_Testing/v15/ipch/AutoPCH/S05_TESTING-748c15d4/PATROLROUTE-46088958/PATROLROUTE.ipch
.vs/S05_Testing/v15/ipch/AutoPCH/S05_TESTING-748c15d4/S05_TESTINGCHARACTER-fac27ad9/S05_TESTINGCHARACTER.ipch
